// Подключаем OpenSans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');

// Высота хедера.
$headerHeight: 80px;

// Минимальная высота хедера, должна быть не меньше высоты логотипа.
$headerContentMinHeight: 60px;

// Высота футера
$footerHeight: 50px;

// основные цвета сайта
$grey: #727272;
$darkgrey: #414141;
$lightgrey: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;

// layouts
@import "layout/_normalize.scss";
@import "layout/_fonts.scss";
@import "layout/_font-awesome.scss";
@import "layout/_vertical-align.scss";
@import "layout/_adjustment.scss";
@import "layout/_typographics.scss";
@import "layout/_sprites.scss";

// sections
@import "sections/_header.scss";
@import "sections/_sidebar.scss";
@import "sections/_content.scss";
@import "sections/_footer.scss";

// pages
@import "pages/about.scss";
@import "pages/career.scss";
@import "pages/portfolio.scss";

// adaptive
@import "media/desktop.scss";
@import "media/laptop.scss";
@import "media/tablet.scss";
@import "media/phone.scss";


