.content {
    float: right;
    width: 75%;
}

.content__caption {
  font-family: 'fira_sansmedium';
  font-size: 35px;
  color: rgb(65, 65, 65);
  line-height: 1.286;
  text-align: left;
  margin-bottom: 20px;
}

