.footer {
    position: relative;
    height: $footerHeight;
    margin-top: -$footerHeight;
    background-color: rgb(65, 65, 65);
}

.footer__left {
    float: left;
}

.footer__right {
    float: right;
}

.footer__copyryte {
    font-size: 14px;
    color: rgb(156, 156, 156);
}

.socials {
    list-style-type: none;
}

.socials__item {
    display: inline-block;
}

.socials__link {

}

.socials--fb {

}

.socials--vk {

}

.socials--tw {

}

// -------------------------------------

