.footer {
    position: relative;
    height: $footerHeight;
    margin-top: -$footerHeight;
    background-color: aquamarine;
}

.footer__left {

}

.footer__right {

}

.footer__copyryte {
    
}

.socials {

}

.socials__item {

}

.socials__link {

}

.socials--fb {

}

.socials--vk {

}

.socials--tw {

}