.sidebar {
    float: left;
    width: 25%;
}

.nav {

}

.nav__items {
    padding-right: 20px;
}

.nav__item {
    list-style: none;
    text-align: right;
    padding: 12px;
}

.nav__item-link {
    font-size: 18px;
    color: rgb(65, 65, 65);
    text-decoration: none;
}

.nav__item-link:hover, .nav__item-link--active {
    color: $blue;
}

.nav__item-link--active:after {
    content: '';
    background-image: -moz-linear-gradient( 90deg, rgb(51,183,220) 0%, rgb(50,201,233) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(51,183,220) 0%, rgb(50,201,233) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(51,183,220) 0%, rgb(50,201,233) 100%);
    position: absolute;
    top: 103px;
    width: 6px;
    height: 44px;
    z-index: 60;
    margin-left: 25px;
}

.nav__item-icon {
    margin-right: 10px;
}

.nav__item-text {

}
