.sidebar {
    float: left;
    width: 25%;
}

.nav {

}

.nav__items {

}

.nav__item {
    list-style: none;
    text-align: right;
    padding: 12px;
}

.nav__item-link {
    font-size: 18px;
    color: rgb(65, 65, 65);
    text-decoration: none;
}

.nav__item-link:hover, .nav__item-link--active {
    color: $blue;
}

.nav__item-icon {
    margin-right: 10px;
}

.nav__item-text {

}

// --------------
