doctype html
html(lang='ru-RU')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Обо мне
    link(rel='stylesheet', href='css/main.css')
  body
    .wrapper.wrapper_auth
      .auth
        .auth__top
          .auth__avatar(style="background-image: url('img/content/ava_big.jpg')")
          .auth__name
            | Константин Семенов
        .auth__bottom
          a.button.white-link(href='about.html')
            | Перейти на сайт
    script.
      window.onload = function () {
      document.querySelector('.auth').classList.add('bounceIn');
      };
