@media screen and (max-width: 992px) {
    .container {
        width: 728px;
    }
    .sidebar {
        float: none;
        width: 100%;
    }

    .nav__item {
        display: inline-block;
        padding: 0px;
        margin-right: 21px;

    }

    .about-me__img-wrap {
        width: 175px;
        height: 175px;
    }
        
    .sidebar {
        margin-bottom: 41px;
    }

    .content {
        float: none;
        width: 728px;
    }

    .about-me__img-wrap {
        margin-left: 25px;
    }

    .nav__item-link--active:after {
        background-image: none;
    }

    .about-me__description-wrap {
        margin-right: 38px;
    }

    .about-me__description-content {
        width: 442px;
        height: 365px;
        margin-bottom: 73px;
    }

    .button {
        margin-right: 26px;
    }

    .content__caption--career {
        margin-left: 0;
        margin-top: -2px;
    }

    .career__img-wrap {
        width: 228px;
        height: 228px;
        margin-top: 21px;
        margin-left: 0px;
    }

    .block-works__item {
        width: 356px;
    }

    .content__caption--portfolio {
        margin-top: -22px;
        margin-left: 0px;
    }

    .work {
        width: 228px;
        margin: 0 0 20px 20px;
        min-height: 291px;
    }

    .works-wrap {
        margin-left: -20px;
    }

    .my-contacts__detail {
        left: -136px;
    }

}