.career.clearfix
    .content__caption Карьерный путь
    .career__photo-block
        img.career__photo(src='img/content/ava_big.jpg', alt='Карьера')
    .career__work-places-block
        ul.career__work-places
            li.career__work-place
                .career__work-year 2016
                .career__work-text
                    p some text
            li.career__work-place
                .career__work-year 2015
                .career__work-text
                    p some text
            li.career__work-place
                .career__work-year 2014
                .career__work-text
                    p some text
            li.career__work-place
                .career__work-year 2013
                .career__work-text
                    p some text    

