.content__caption Портфолио
.work
	.work__img-block
		img.work__img(src='img/portfolio/work1.png', alt='Работа 1')
	.work__info-wrap
		.work__name Deals App
		.work__description Продажа одежды
		.work__type
			.work__type-icon
			.work__type-text Приложение
.work
	.work__img-block
		img.work__img(src='img/portfolio/work2.png', alt='Работа 2')
	.work__info-wrap
		.work__name Deals App
		.work__description Лагуна люфтганза
		.work__type
			.work__type-icon
			.work__type-text Лендинг
.work
	.work__img-block
		img.work__img(src='img/portfolio/work3.png', alt='Работа 3')
	.work__info-wrap
		.work__name Deals App
		.work__description Танцевальная студия
		.work__type
			.work__type-icon
			.work__type-text Корпоративный сайт
.work
	.work__img-block
		img.work__img(src='img/portfolio/work4.png', alt='Работа 4')
	.work__info-wrap
		.work__name Deals App
		.work__description Мебельный магазин
		.work__type
			.work__type-icon
			.work__type-text Лендинг
.work
	.work__img-block
		img.work__img(src='img/portfolio/work5.png', alt='Работа 5')
	.work__info-wrap
		.work__name Deals App
		.work__description Итальянский ресторан
		.work__type
			.work__type-icon
			.work__type-text Лендинг
