.about-me.clearfix
	.about-me__photo-block
		img.about-me__photo(src='img/content/ava_big.jpg', alt='Мое фото')
	.about-me__description-block
		h1.about-me__description-caption Обо мне
		.about-me__description-content
			p
				| Меня зовут Константин. Проживаю в ДНР, с появлением интернета, с головой увлёкся этой темой, и теперь уже почти живу Он-Лайн.
			p
				| С недавних пор это уже не просто увлечение, но и нормальный заработок для меня и моей семьи, на этом конечно не собираюсь останавливаться, а буду стараться добиться ещё больших результатов!
			p
				| Интернет сообщество очень интересно и многогранно , почти каждый день появляется что то новое и хочется всё это изучить, внедрить и проверить на себе , многое получается, и со временем приносит свои плоды.
		a.button.about-me__download-btn(href='#')
			i.fa.fa-download.button__icon(aria-hidden='true')
			span.button__text Скачать резюме
