footer.footer
	.container.footer__container.va__container
		.footer__left.va__item
			.footer__copyryte
				| © Дизайн сайта был разработан в школе LoftSchool
		.footer__right.va__item
			ul.socials.va__item
				li.socials__item.va__item
					a.socials__link.socials__link--fb(href='https://www.facebook.com/konstantin.semenov.777', target='_blank')
						i.sprite.sprite-fb-grey
				li.socials__item.va__item
					a.socials__link.socials__link--vk(href='https://vk.com/konstantinsemenov', target='_blank')
						i.sprite.sprite-vk-grey
				li.socials__item.va__item
					a.socials__link.socials__link--tw(href='https://twitter.com/semen1401', target='_blank')
						i.sprite.sprite-tw-grey
