aside.sidebar
	nav.nav
		ul.nav__items
			li.nav__item
				a.nav__item-link.nav__item-link--active(href='about.html')
					i.nav__item-icon.fa.fa-user-secret
					span.nav__item-text Обо мне
			li.nav__item
				a.nav__item-link(href='career.html')
					i.nav__item-icon.fa.fa-rocket
					span.nav__item-text Карьерный путь
			li.nav__item
				a.nav__item-link(href='portfolio.html')
					i.nav__item-icon.fa.fa-briefcase
					span.nav__item-text Портфолио
