.career {

}
.career__photo-block {
    border: solid 1px;
    float: left;
}
.career__photo {

}
.career__work-places-block {
    border: solid 1px;
    float: right;
}
.career__work-places {

}
.career__work-place {
    position: relative;
    list-style-type: none;
    border: solid 1px;
}
.career__work-year {
    display: inline-block;
    border: solid 1px;
}
.career__work-text {

}