.career {

}
.career__photo-block {
    border: solid 1px;
    float: left;
}
.career__photo {

}

.block-works{
  float:right;
  margin:0;
  padding:0;
}

.block-works__item {
    position: relative;
    padding: 20px 20px 11px;
    list-style: none;
    width: 380px;
    border-radius: 9px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 19px;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.block-works__time {
    position: absolute;
    top: 50%;
    right: 110%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #727272;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}

.block-works__wrap-item:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #33c1e3;
    border-radius: 50%;
    border: 5px solid #f6f6f6;
    left: -32px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 10;
}


.block-works__item:after,  .block-works__item:before {
    content: "";
    position: absolute;
    left: -23px;
    width: 1px;
    background-color: #ddd;
}

.block-works__item:before {
    top: 0;
    bottom: 50%;
}

.block-works__item:after {
    top: 50%;
    bottom: 0;
    margin-bottom:-20px;
}

.block-works__item-name {
    font-family: 'fira_sansbook';
    font-size: 21px;
    line-height: 1.42;
    color: #414141;
}

.block-works__item-type{
      color: #727272;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

 .block-works__item-date {
    color: #727272;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.block-works__item:last-child:after {
  display: none;
}
.block-works__item:first-child:before {
  display: none;
}

.block-works__item:hover {
    background-color: #33c1e3;
}
  
.block-works__item:hover .block-works__wrap-item:before {
    border: 5px solid #94e0f2;
}

.block-works__item:hover .block-works__time {
    color: #33c1e3;
    font-size: 18px;
    font-weight: 600;
}

.block-works__item:hover .block-works__item-name, .block-works__item:hover .block-works__item-type, .block-works__item:hover .block-works__item-date {
    color: #fff;
}
