// Вертикальное выравнивание на базе inline-block

.va__container {
    font-size: 0;
}

.va__container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.va__item {
    display: inline-block;
    vertical-align: middle;
}