/*Настройка шаблона, глобальные стили тегов (body, wrapper, ссылки, списки, заголовки и т.п)*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'fira_sansregular', sans-serif;
    color: #414141;
    font-size: 18px;
	box-sizing: border-box;
    background-color: rgb(246, 246, 246);    
}

ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-width: 940px;
    min-height: 100%;       
}

.wrapper:after {
    content: "";
    height: $footerHeight;
    display: block;
}

.container {
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
