// Вертикальное выравнивание на базе inline-block

.vert-align__container {
    font-size: 0;
}

.vert-align__container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vert-align__item {
    display: inline-block;
    vertical-align: middle;
}