.wrapper_auth {
  min-width: 320px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/bg/auth-pattern.png"); }

.wrapper_auth:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle; }

.auth {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  opacity: 0; }

.auth.bounceIn {
  opacity: 1;
  -webkit-animation: bounceIn 1s;
  animation: bounceIn 1s; }

.auth__top {
  border-radius: 7px 7px 0 0;
  background: #fff;
  padding: 80px 60px 20px 60px;
  font-size: 21px;
  position: relative;
  margin-top: 70px; }

.auth__avatar {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -70px; }

.auth__bottom {
  background: #33c1e3;
  padding: 20px 0;
  border-radius: 0 0 7px 7px; }

.white-link {
  border-color: #f6f6f6;
  color: #f6f6f6; }

.white-link:hover {
  background: #f6f6f6;
  color: #33c1e3; }

/* --------- animation --------- */
@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
