header.header
	.container.header__container.vert-align__container
		.header__left.vert-align__item
			img.logo__img.vert-align__item(src='img/content/ava_small.jpg', alt='Logo')
			h1.logo__text.vert-align__item Константин Семенов
		.header__right.vert-align__item
			.my-contacts.vert-align__item
				a.my-contacts__link(href='#') Мои контакты
				ul.my-contacts__detail
					li.my-contacts__detail-item
						i.my-contacts__detail-icon.fa.fa-envelope-o
						a.my-contacts__detail-link(href='mailto:webmaster@example.com') semenov.k.u@gmail.com
					li.my-contacts__detail-item
						i.my-contacts__detail-icon.fa.fa-phone
						a.my-contacts__detail-link(href='tel:+380660597170') +38 066 059 7170
					li.my-contacts__detail-item
						i.my-contacts__detail-icon.fa.fa-skype
						a.my-contacts__detail-link(href='skype:+380660597170_?chat') kostik_
